div.wrapper {
    display:  grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color:  #FOEAD6;
    min-height:  0;
    min-width:  0;
    font-family: 'CMUSerifRoman'; 
    grid-template-rows:  auto auto 2em auto 300px 150px auto;
}
.wrapper a {
    color:  black;
    text-decoration:  none;
}

a:link {
    color:  black;
}

div.header {
    grid-column-start:  5;
    grid-column-end:  7;
    grid-row:  1;
    text-align:  center;
    
}

div.line1 {
    border-top-style:  solid;
    border-top-width:  1px;
    grid-column-start:  1;
    grid-column-end:  11;
    border-top-color:  black;
    grid-row:  2;
    margin-bottom:  0;
}
div.Home {
    padding:  .5em;
    grid-column-start:  3;
    grid-column-end:  4;
    text-align:  center;
    font-size:  .95em;
    grid-row:  3;
    margin-top:  0;
}

.Home:hover {
    text-align:  center;
    background-color:  black;
    font-size:  1.5em;
    font-family:  'StationMedium';
    padding:  .15em;
    color:  white;
}

.Home a:hover {
    color:  white;
}
div.Projects {
    padding:  .5em;
    grid-column-start:  4;
    grid-column-end:  5;
    text-align:  center;
    font-size:  .95em;
    grid-row:  3;
}

.Projects:hover {
    text-align:  center;
    background-color:  #062F4F;
    font-size:  1.5em;
    font-family:  'StationMedium';
    padding:  .15em;
    color:  white;
}

.Projects a:hover {
    color:  white;
}
div.Github {
    padding:  .5em;
    grid-column-start:  5;
    grid-column-end:  6;
    text-align:  center;
    font-size:  .95em;
    grid-row:  3;
}

.Github:hover {
    text-align:  center;
    background-color:  #813772;
    font-size:  1.5em;
    font-family:  'StationMedium';
    padding:  .15em;
    color:  white;
}

.Github a:hover {
    color:  white;
}

div.Contact {
    padding:  .5em;
    grid-column-start:  6;
    grid-column-end:  7;
    text-align:  center;
    font-size:  .95em;
    grid-row:  3;
}
.Contact:hover {
    text-align:  center;
    background-color:  #B82601;
    font-size:  1.5em;
    font-family:  'StationMedium';
    padding:  .15em;
    color:  white;
}

.Contact a:hover {
    color:  white;
}
div.Archive {
    padding:  .5em;
    grid-column-start:  7;
    grid-column-end:  8;
    text-align:  center;
    font-size:  .95em;
    grid-row:  3;
}

.Archive:hover {
    text-align:  center;
    background-color:  #565656;
    font-size:  1.5em;
    font-family:  'StationMedium';
    padding:  .15em;
    color:  white;
}

.Archive a:hover {
    color:  white;
}
div.Blog {
    padding:  .5em;
    grid-column-start:  8;
    grid-column-end:  9;
    text-align:  center;
    font-size:  .95em;
    grid-row:  3;
    
}
.Blog:hover {
    text-align:  center;
    background-color:  #3CC47C;
    font-size:  1.5em;
    font-family:  'StationMedium';
    padding:  .15em;
    color:  white;
}

.Blog a:hover {
    color:  white;
}
div.line2 {
    margin-top:  0;
    border-top-style:  solid;
    border-top-width:  1px;
    grid-column-start:  1;
    grid-column-end:  11;
    border-top-color:  black;
    grid-row:  4;
}
div.mainimage {
    margin-top:  1%;
    grid-column-start:  3;
    grid-column-end:  7;
    grid-row:  5;
    border-width:  1px;
    border-style:  solid;
    text-align:  center;
    overflow:  hidden;
}
div.maintext {
    font-family: 'CMUSerifRoman';
    margin-top:  1%;
    padding-left:  1em;
    grid-column-start:  7;
    grid-column-end:  9;
    grid-row:  5;
    border-width:  1px;
    border-style:  solid;
    width:  100%;
}
div.secondimage {
    line-height:  1em;
    padding-top:  20%;
    margin-top:  3%;
    height:  150px;
    width:  100%;
    grid-column-start:  3;
    grid-column-end:  6;
    text-align:  center;
    grid-row:  6;
    border-style:  solid;
    border-top-width:  1px;
    border-left-width:  1px;
    border-right-width:  1px;
    border-bottom-width:  1px;
}


.secondimage:hover {
    line-height:  2em;
    font-size:  2em;
    padding-top:  8%;
    background-color:  #3CC47C;
    text-align:  center;
    font-family:  'StationMedium';
    height:  200px;

}

.secondimage a:hover {
    color:  white;
}

div.thirdimage {
    line-height:  1em;
    padding-top:  20%;
    margin-top:  3%;
    margin-left:  3%;
    grid-column-start:  6;
    grid-column-end:  9;
    text-align:  center;
    grid-row:  6;
    height:  100%;
    width:  100%;
    border-top-width:  1px;
    border-right-width:  1px;
    border-left-width:  1px;
    border-bottom-width:  1px;
    border-style:  solid;
}

.thirdimage:hover {
    line-height:  2em;
    font-size:  2em;
    padding-top:  8%;
    background-color:  #B82601;
    text-align:  center;
    font-family:  'StationMedium';
    height:  200px;
}

.thirdimage a:hover {
    color:  white;
}

div.footer {
    color:  white;
    padding-top:  5%;
    margin-top:  10%;
    grid-column-start:  1;
    grid-column-end:  11;
    background-color: #708090; 
    text-align:  center;
    font-size:  .95em;
    grid-row:  8;
    word-spacing:  5em;
    height:  80px;
}
#footer a:link {
    color:  white;
}
div.projtext1 {
    padding-left:  3%;
    margin-top:  1%;
    grid-column-start:  2;
    grid-column-end:  6;
    grid-row:  5;
    border-top-width:  1px;
    border-right-width:  0px;
    border-left-width:  1px;
    border-bottom-width:  1px;
    border-style:  solid;
    text-align:  center;
}

div.projimage1 {
    margin-top:  1%;
    grid-column-start:  6;
    grid-column-end:  10;
    grid-row:  5;
    border-top-width:  1px;
    border-right-width:  1px;
    border-left-width:  0px;
    border-bottom-width:  1px;
    border-style:  solid;
    text-align:  center;
    overflow:  hidden;
}